{% extends 'base.html.twig' %}

{% block title %}Hello CommerceController!
{% endblock %}

{% block body %}
	<div class="container">
		<div class="header-accueil">
			<h1>SprayShop</h1>
		</div>


	</div>


{% endblock %}
